---
import Layout from '../layouts/Layout.astro';
import Titulos from '@/components/Titulos.astro';
import Warm from '@/components/Warm.astro';
import Footer from '@/components/Footer.astro';
---
<Layout 
	title="AD ARCHITECTS - Diseños Arquitectonicos"
	description="Realizamos Todo tipo de impermeabilizaciones de fachadas y cubiertas a medida segun tus necesidades."
>
	<main>
		<Titulos titulo="Registro fotografico de impermeabilizaciones en calor" height="2"/>
		<Warm type_waterproofing='Calor'/>
	</main>
	<Footer/>
</Layout>

<style>
</style>
