---
import Layout from '../layouts/Layout.astro';
import About from '@/components/About.astro';
import Footer from '@/components/Footer.astro';
import Intro from '@/components/Intro.astro';
import Bento from '@/components/Bento.astro';

---

<Layout 
	title="AD ARCHITECTS - Brindandote un servicio que superara tus espectativas"
	description="Empresa destinada a transformar ideas en realidades, generacion de diseños y remodelaciones"
>
	<main>
		<Intro/>
		<Bento/>
	</main>
	<Footer/>
</Layout>

<style>
</style>
