---
import Layout from '../layouts/Layout.astro';
import Footer from '@/components/Footer.astro';
import Intro from '@/components/Intro.astro';
import CardServicio from '@/components/CardServicio.astro';

---

<Layout 
	title="AD ARCHITECTS - Brindandote un servicio que superara tus espectativas"
	description="Empresa destinada a transformar ideas en realidades, generacion de diseños y remodelaciones"
>
	<main>
		<Intro/>
		<CardServicio/>
	</main>
	<Footer/>
</Layout>

