---
import Layout from '../layouts/Layout.astro';
import Footer from '@/components/Footer.astro';
import Remodeling from '@/components/Remodeling.astro';
import Titulos from '@/components/Titulos.astro';
---
<Layout 
	title="AD ARCHITECTS - Diseños Arquitectonicos"
	description="Ofrecemos diseños Arquitectonicos a medida segun tus necesidades."
>
	<main>
		<Titulos titulo="Remodelaciones y construcciones" height="2"/>
		<Remodeling/>
	</main>
	<Footer/>
</Layout>
<style>
</style>
