---
const regis_fotografico = [];
for (let index = 1; index <= 4; index++){
    regis_fotografico.push(`src/img/Impermeabilizaciones/Frio/Frio-${index}.webp`);
}
---
<section class="main_content flex flex-col gap-2 mx-auto px-1 mt-5 w-10/12 lg:w-8/12 max-w-4xl">
     {
        regis_fotografico.map(imagen =>{
            return(<img src={imagen} class="mx-auto mt-4 rounded-xl object-cover w-full aspect-4/3"></img>)
        })
     }
</section>

