---
import imgBanner from "../img/portada/Home_Banner.jpg"

---
<section class="flex flex-col gap-6 mx-auto w-full px-10 mt-28 lg:w-8/12 max-w-4xl">
    <h2 class="text-slate-300 text-pretty text-center ">Trabajamos <br> por tu confort y comodidad</h2>
    <img class="object-cover" loading="eager" src={imgBanner.src } alt="Ciudad de las artes, Valencia, España">
    <h3 class="text-yellow-ad text-pretty text-center">En AD ARCHITECTS S.A.S. <br>Somos Apasionados por el diseño y la construcción</h3>
    <h5 class="text-slate-300 text-pretty text-center">
        Te brindamos un servicio Donde brilla el desarrollo profesional, con amplia experiencia en el mercado de diseño y construcción, cumpliendo estandares de calidad, funcionalidad y normatividad.
    </h5>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
    }
    h2 {
        text-transform: uppercase;
    }
</style>
