---
import CardWaterproofing from "@/components/CardsWaterproofing.astro"
const regis_fotografico = [];
interface Props {
    type_waterproofing: string;
}

const { type_waterproofing } = Astro.props;
for (let index = 1; index <= 6; index++){
    regis_fotografico.push(`/src/img/Impermeabilizaciones/${type_waterproofing}/${type_waterproofing}-${index}.webp`);
}
---
<section class="main_content flex flex-col gap-2 mx-auto px-1 mt-5 w-10/12 lg:w-8/12 max-w-4xl">
    {
       regis_fotografico.map(imagen =>{
           return (<CardWaterproofing imagePath={imagen} altText=""></CardWaterproofing>)
       })
    }
</section>

