---
// import Descripcion from '@/components/arquitectonico/Descripcion.astro';
import imgFrio from '@imgImpermeabilizaciones/Impermeabilizaciones-frio.webp'
import imgCalido from '@imgImpermeabilizaciones/Impermeabilizaciones-calor.webp'
import imgImpermeabilizaciones from '@imgImpermeabilizaciones/Impermeabilizaciones.webp'
---
<section class="main_content flex flex-col gap-2 mx-auto px-1 mt-5 w-10/12 lg:w-8/12 max-w-4xl">
    <!-- Impermeabilizaciones de Cubiertas -->
    <div class="subtitle">
        <h2 class="text-slate-300 text-pretty text-center">Realizamos todo tipo de Impermeabilizaciones</h2>
        <div class="separador bg-slate-300 h-0.5 "></div>
        <h3 class="text-slate-300 text-pretty text-center">De fachadas y cubiertas</h3>
    </div>
    <div class="mt-2 flex flex-col w-auto">
        <p class="">Impermeabilizaciones de</p>
        <div class="w-48 h-0.5 bg-slate-300"></div>
        <p>Cubiertas</p>
    </div>
    <!-- Impermeabilizaciones en FRIO -->
    <a href="/frio" class="rounded-xl justify-center place-items-center relative flex aspect-video w-2/3 mx-auto mt-4 p-4">
        <img class="absolute top-0 right-0 rounded-2xl w-full aspect-video object-cover object-center z-0" src={imgFrio.src} alt="Imagen de enlace a impermeabilizaciones en frio">
        <p class="text-base text-center z-20 sm:text-lg font-medium md:font-semibold text-primary-black-ad">IMPERMEABILIZACIONES EN FRIO</p>
    </a>
    <!-- Impermeabilizaciones en CALOR -->
    <a href="/calido" class="rounded-xl justify-center place-items-center relative flex aspect-video w-2/3 mx-auto mt-4 p-4">
        <img class="absolute top-0 right-0 rounded-2xl w-full aspect-video object-cover object-center z-0" src={imgCalido.src} alt="Imagen de enlace a impermeabilizaciones en calor">
        <p class="text-base text-center z-20 sm:text-lg font-medium md:font-semibold text-yellow-ad-sec">IMPERMEABILIZACIONES EN CALOR</p>
    </a>
    <!-- Impermeabilizaciones de Fachadas -->
    <div class="mt-2 flex flex-col w-auto">
        <p class="">Impermeabilizaciones de</p>
        <div class="w-48 h-0.5 bg-slate-300"></div>
        <p>Fachadas</p>
    </div>
    <figure class="rounded-xl justify-center place-items-center relative flex aspect-video w-2/3 mx-auto mb-4">
        <img class="absolute top-0 right-0 rounded-2xl w-full aspect-video object-cover object-center z-0" src={imgImpermeabilizaciones.src} alt="Banner principal impermeabilizaciones">
        <p class="text-base text-center z-20 sm:text-lg font-medium md:font-semibold text-primary-black-ad">IMPERMEABILIZACIONES</p>
    </figure>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
    }
</style>
