---
import {descriptionPages as dp} from "@/ad";
interface Props{
    descriptionPage: string ;
}

const {descriptionPage} = Astro.props;
const textDescription = dp.filter(dp=>dp.name==descriptionPage)
---
<section class="mx-auto w-10/12 max-w-4xl">
    <p class="text-center">{textDescription[0].Description}</p>
</section>
